

      <div class="card">
        <div class="card-body">
          <img class="fotoPerfil rounded img-fluid rounded-circle" src="https://i.imgur.com/TTmS6O2.jpg">
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h5 ">Thiago Lima</div>
            <div class="h6 text-muted">thiago@gmail.com</div>
          </li>
          <li class="list-group-item">
            <div class="h6"><a style="cursor: pointer;" class="card-link text-primary" (click)="visualizarPerfil()">Visualizar Perfil</a></div>

          </li>
          <li class="list-group-item">
            <div>
              <app-footer></app-footer>
            </div>
          </li>
        </ul>
      </div>



