<div *ngIf="token.getRoleType() === 'user'">
  <div *ngFor="let comentario of comentarios | async ; let i = index">
  <div class="card-text border-top">
    <div class="row p-2">
      <div class="col-lg-10">
      <p class="mb-0"><strong>Thiago Lima: </strong>{{ comentario.conteudoComentario }}</p>
      </div>
      <div class="col-lg-2">
      <a (click)="deletarComentario(comentario.id)" style="cursor: pointer;" class="card-link text-primary"><p class="text-right mb-0">remover</p></a>
      </div>
    </div>


  </div>
</div>
</div>
