
<div *ngIf="token.getRoleType() === 'user'">

  <form (ngSubmit)="onSubmit()" class="">
    <div>
      <textarea class="form-control mt-4" data-ls-module="charCounter" name="publicacao" id="publicacao" cols="151" rows="3" maxlength="250"
                placeholder="Digite seu comentário em até 250 caracteres..."
                [(ngModel)]="comentario.conteudoComentario">

      </textarea>

    </div>
    <div class="d-flex flex-row-reverse bd-highlight mt-2">
      <button type="submit" class="btn btn-outline-primary">Comentar</button>
    </div>
  </form>

</div>

<div *ngIf="!token.getRoleType()" class="nav-item">
  <p style="font-size: 3rem;">
    Para acessar o conteúdo, é necessário efetuar o login no sistema... <a class="nav-link" href="#" (click)="goToLogin()">Login</a>
  </p>
</div>


