footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.social{
  display: inline;
  padding: 0.1%;

}

.imagensSociais{
  width: 20px;
  height: 20px;
  margin: 25px 0 0 25px;
}
