<div>
  <div class="social ">
    <a class="social " href="https://www.linkedin.com/in/docentethiago" target="_blank">
      <img class="imagensSociais" alt="Icone do LinkedIn" src="https://i.imgur.com/QA8SXnH.png" alt="Logo do Linkedin"
           title="Linkedin - Thiago Lima" />
    </a>
  </div>
  <div class="social">
    <a class="social" href="https://github.com/" target="_blank">
      <img class="imagensSociais" alt="Icone do GitHub" src="https://i.imgur.com/yc3cuN3.png" width="40" alt="Logo do GitHub"
           title="GitHub - Thiago Lima" />
    </a>
  </div>
  <div class="social">
    <a class="social" href="https://www.facebook.com/ThiThiLima" target="_blank">
      <img class="imagensSociais" alt="Icone do Facebook" src="https://i.imgur.com/CNMmbxS.png" alt="Logo do Facebook"
           title="Facebook - Thiago Lima" />
    </a>
  </div>
  <div class="social">
    <a  href="https://www.instagram.com/limathiagos/" target="_blank">
      <img class="imagensSociais" alt="Icone do Instagram" src="https://i.imgur.com/3XUDpKA.png" alt="Logo do Instagram"
           title="Instagram - Thiago Lima" />
    </a>
  </div>
  <div class="mt-3">
  <h6 class="text-center">Conecta Corporation © Copyright 2019. All rights reserved.</h6>
  </div>
</div>
