<div *ngIf="token.getRoleType() === 'user'">

  <div class="col-md-6">
    <h2 class="text-center">Editar Postagem</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" formControlName="conteudoPostagem" placeholder="conteudoPostagem" name="conteudoPostagem" class="form-control" id="conteudoPostagem">
      </div>

      <button class="btn btn-success">Atualizar</button>
    </form>
  </div>

</div>

<div *ngIf="!token.getRoleType()" class="nav-item">
  <p style="font-size: 3rem;">
    Para acessar o conteúdo, é necessário efetuar o login no sistema... <a class="nav-link" href="#" (click)="goToLogin()">Login</a>
  </p>
</div>
