<app-header></app-header>
<br>
<div *ngIf="token.getRoleType() === 'user'">


  <div class="container mt-5">
    <div class="row">
     <div class="col-3">
       <app-sidebar></app-sidebar>
     </div>
     <div class="col-9">
       <app-postagem-create></app-postagem-create>
       <div class="line"></div>
       <app-postagem-list></app-postagem-list>
     </div>

    </div>
  </div>

</div>

<div *ngIf="!token.getRoleType()" class="nav-item">
  <p style="font-size: 3rem;">
    Ops! Faça o login primeiro =) <a class="nav-link" href="#" (click)="goToLogin()">Login</a>
  </p>
</div>
<div class="line"></div>
