* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url('imagens/bannerUm.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar{
    background-color: #324359;
    
}

.img-logo{
    width: 15%;
    height: 15%;
}











/*

    -- Carrosel de imagens

.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }

.carousel-caption{
    bottom: 270px;
}
.carousel-item{
    height: 100vh; dimensiona o slider à altura do viewport 
    background-size: cover;
    background-position: 50% 0;
 }

.img-fluid{
    max-width: 100%;
    height: auto;
    height: auto;
}
*/