<app-header></app-header>
<br>
<br>
<br>

<div class="">

<div class="card">
  <div class="card-header bg-imgPerfil">
    <img class="fotoPerfil rounded rounded-circle rounded mx-auto d-block" width="200" height="200" src="https://i.imgur.com/TTmS6O2.jpg">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="h5 text-center ">Thiago Lima</div>
      <div class="h6 text-muted text-center">thiago@gmail.com</div>
    </li>
    <li class="list-group-item">
      <h5>Quem sou eu</h5>
      <p class="text-justify">Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo, mas ninguém vê os
        tombis que eu levo! Mé faiz elementum girarzis, nisi eros vermeio. Si u mundo tá muito paradis? Toma um
        mé que o mundo vai girarzis! Casamentiss faiz malandris se pirulitá.
        Paisis, filhis, espiritis santis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean
        sit amet nisi. Aenean aliquam molestie leo, vitae iaculis nisl. Mauris nec dolor in eros commodo tempor.
        Aenean aliquam molestie leo, vitae iaculis nisl.
      </p>
      <div class="h6 "><a style="cursor: pointer;" class="card-link text-primary" (click)="visualizarFeed()"><p class="text-right">Voltar para o feed</p></a></div>
    </li>
    <li class="list-group-item">
      <h5 class="mb-3 text-center">Minhas Postagens</h5>
      <app-postagem-list></app-postagem-list>
    </li>
    <div class="mt-3 mb-3">
      <h6 class="text-center">Conecta Corporation © Copyright 2019. All rights reserved.</h6>
    </div>

  </ul>
</div>

</div>
