


<div *ngIf="token.getRoleType() === 'user'">

<form (ngSubmit)="onSubmit()" class="">
  <div>
    <textarea class="form-control" data-ls-module="charCounter" name="publicacao" id="publicacao" cols="151" rows="6"
              maxlength="500"
              placeholder="Digite sua publicação em até 500 caracteres..."
              [(ngModel)]="postagem.conteudoPostagem"
    ></textarea>

  </div>
  <div class="d-flex flex-row-reverse bd-highlight mt-2">
    <button type="submit" class="btn btn-outline-primary">Publicar</button>


  </div>
</form>

</div>

<div *ngIf="!token.getRoleType()" class="nav-item">
  <p style="font-size: 3rem;">
    Para acessar o conteúdo, é necessário efetuar o login no sistema... <a class="nav-link" href="#" (click)="goToLogin()">Login</a>
  </p>
</div>



