.h-80 {
  height: 80% !important;
}

.error {
  color: red;
}

* {
  margin: 0;
  padding: 0;
}



.img-background{
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
}

.navbar{
  background-color: #324359;

}

.img-logo{
  width: 15%;
  height: 15%;
}
