<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<app-register></app-register>

<nav class="navbar navbar-expand-lg navbar-info fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand text-white" href="#"><img src="https://i.imgur.com/2EEOtmI.png" class="img-logo" /></a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
            data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-collapse" id="exCollapsingNavbar">
      <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
        <li class="dropdown order-1">
          <button type="button" id="dropdownMenu1" data-toggle="dropdown"
                  class="btn btn-outline-primary dropdown-toggle">Entrar <span
            class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right mt-2">
            <li class="px-3 py-2">
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="form" role="form">
                <div class="form-group">
                  <input type="text" class="form-control" id="username" name="username"
                         [(ngModel)]="form.username" #username="ngModel"
                         required id="emailInput" placeholder="E-mail" class="form-control form-control-sm"
                         type="text" required="">
                </div>
                <div *ngIf="f.submitted && username.invalid">
                  <div *ngIf="username.errors.required"><span class="error">Por favor, preencha o campo usuário</span></div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password"
                         [(ngModel)]="form.password" #password="ngModel" required minlength="8" id="passwordInput" placeholder="Senha"
                         class="form-control form-control-sm" required="">
                  <div *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required"><span class="error">Por favor, preencha o campo senha</span></div>
                    <div *ngIf="password.errors.minlength"><span class="error">O campo senha deve ter mais que 8 caracteres</span></div>
                  </div>
                </div>


                <div class="form-group text-center">
                  <small><a href="#" data-toggle="modal" data-target="#modalPassword">Esqueci
                    minha senha</a></small>
                </div>
                <div class="form-group m-0">
                  <button class="btn btn-primary btn-block"><strong>Entrar</strong></button>
                  <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                    <span class="error">Falha no login: {{errorMessage}}</span>
                  </div>
                </div>


              </form>
              <div class="mt-4 text-center">
                <a href="#" style="text-decoration:none;" data-toggle="modal" data-dismiss="modal"
                        data-target="#cadastro">Cadastre-se</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div id="modalPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Entendi!</h3>
        <button type="button" class="close font-weight-light" data-dismiss="modal"
                aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <p>Sua senha foi enviada para o seu e-mail...</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



