<!--Cadastro-->
<div class="modal fade" id="cadastro" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="TituloModalCentralizado">Comece a se conectar:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="name"><strong>Nome</strong></label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="form.name"
                   #name="ngModel"
                   required/>
            <div *ngIf="f.submitted && name.invalid">
              <div class="error" *ngIf="name.errors.required">O campo nome é obrigatório</div>
            </div>
          </div>
          <div class="form-group">
            <label for="username"><strong>Usuário</strong></label>
            <input type="text" class="form-control" id="username" name="username"
                   [(ngModel)]="form.username"
                   #username="ngModel"
                   required/>
            <div *ngIf="f.submitted && username.invalid">
              <div class="error" *ngIf="username.errors.required">O campo usuário é obrigatório</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email"><strong>E-mail</strong></label>
            <input type="text" class="form-control" id="email" name="email"
                   [(ngModel)]="form.email"
                   #email="ngModel" required email/>
            <div *ngIf="f.submitted && email.invalid">
              <div class="error" *ngIf="email.errors.required">O campo e-mail é obrigatório</div>
              <div class="error" *ngIf="email.errors.email">Por favor, preencha com um e-mail válido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password"><strong>Senha</strong></label>
            <input type="password" class="form-control" id="password" name="password"
                   [(ngModel)]="form.password"
                   #password="ngModel"
                   required minlength="8"/>
            <div *ngIf="f.submitted && password.invalid">
              <div class="error" *ngIf="password.errors.required">Por favor, preencha o campo senha</div>
              <div class="error" *ngIf="password.errors.minlength">O campo senha deve ter mais que 8
                caracteres
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block"><strong>Conecte-se</strong></button>
            <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
              Ocorreu uma falha:<br/>{{errorMessage}}
            </div>
            <div *ngIf="f.submitted" style="display: none">

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


