body{
  background-color: #ffffff;
}

.bg-img{
  background-image: url('https://i.imgur.com/BeQ4NlK.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-nav {
  background: #7386D5;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  resize: none;
}
