
<nav class="navbar navbar-expand-md bg-nav navbar-dark fixed-top">
  <div class="link-home">
  <a href="home" title="Home"><img class="img-logo" src="https://i.imgur.com/2EEOtmI.png"></a>
  </div>
  <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button-->

  <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight" id="navbarCollapse">

        <!--a class="nav-link" href="pessoas">Pessoas</a-->

      <button class="btn btn-outline-light" title="Sair" href="#" (click)="logout()">Sair</button>

  </div>
</nav>
