
<div *ngIf="token.getRoleType() === 'user'">

<div class="card gedf-card mb-4" *ngFor="let postagem of postagens | async | orderBy: key : reverse">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-2">
          <img class="rounded-circle" width="45" src="https://i.imgur.com/TTmS6O2.jpg" alt="">
        </div>
        <div class="ml-2">
          <div class="h5 m-0">{{postagem.user}} Thiago Lima</div>
        </div>
      </div>

      <div>
        <a (click)="deletarPostagem(postagem.id)" style="cursor: pointer;" class="card-link text-primary"><!--i class="fa fa-pencil-square-o p-1" aria-hidden="true"></i-->Remover</a>
      </div>

    </div>
  </div>
  <div class="card-body">
    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o p-1"></i>1 min atrás</div>
    <div>
    <p class="card-text">
      <p class="p-1">{{postagem.conteudoPostagem}}</p>
    </div>
    <div class="text-muted h7"> <i class="fa fa-gittip p-1 mt-3"></i>{{this.like}}</div>
  </div>

  <div class="card-footer">
    <div class="mb-3">
    <a (click)="likeCount(postagem)" style="cursor: pointer;" class="card-link text-primary"><i class="fa fa-gittip p-1"></i>Curtir</a>
    </div>
    <div>
      <app-comentario-list></app-comentario-list>
    </div>

    <div>
      <app-comentario-create></app-comentario-create>
    </div>
  </div>

</div>

</div>
